:root {
  font-family: "Fira Sans", Arial, NanumBarunGothic, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: var(--color-selection);
}

:root.dark {
  --color-text: theme("colors.neutral.50");
  --color-bg: #1d1d1d;
  --color-selection: #27283a;
  --color-focus: #373959;
}

:root {
  --color-text: theme("colors.neutral.900");
  --color-bg: theme("colors.neutral.50");
  --color-selection: #dddeec;
  --color-focus: #b7b9d4;
}

*:focus-visible {
  outline: 2px solid var(--color-focus);
  border-radius: 1px;
}

details summary::-webkit-details-marker {
  display: none;
}

.link {
  @apply text-sky-700 dark:text-yellow-500 decoration-none hover:underline;
}
